<form id="register-form"
    hx-post="{% url 'sqrt' %}"
    hx-target="#modal-content-register"
    hx-swap="innerHTML"
    class="space-y-3 md:space-y-4">
    
    {% csrf_token %}
    
    {% if form.errors %}
    <div class="alert alert-error mb-4">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
  <!-- Campos del formulario -->
    <!-- Username -->
    <div class="form-control">
        <label class="label">
            <span class="label-text">Nombre de usuario</span>
        </label>
        {{form.username}}
    </div>
              
                <!-- Email -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Correo electrónico</span>
                    </label>
                                {{form.email}}
                </div>
               
                <!-- Password -->
                <div class="form-control relative">
                    <label class="label">
                        <span class="label-text">Contraseña</span>
                    </label>
                    <div class="relative">
                        {{form.password1}}
                        <div class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer password-toggle" >
                            <i class="fas fa-eye text-gray-400"></i>
                        </div>
                    </div>
                </div>
              
                <!-- Confirm Password -->
                <div class="form-control relative">
                    <label class="label">
                        <span class="label-text">Confirmar Contraseña</span>
                    </label>
                    <div class="relative">
                        {{form.password2}}
                        <div class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer password-toggle">
                            <i class="fas fa-eye text-gray-400"></i>
                        </div>
                    </div>
                </div>
                            
                    <!-- Submit Button -->
                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary py-3 md:py-3 text-base">
                            Registrarse
                        </button>
                    </div>
</form>
                                       <!-- Login Link -->
                        <div class="text-center mt-4">
                            <span class="text-sm">
                                ¿Ya tienes cuenta?
                                <a href="{% url 'login' %}" class="link link-primary ml-1">Iniciar sesión</a>
                            </span>
                        </div>
                   
